body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
        background-image: url(ff.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    
}

header {
    background-image: url(ff.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    text-align: center;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 170px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}


.project {
    background: #ffffff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ffffff;
}
footer {
    text-align: center;
    padding: 10px;
    background-image: url(ff.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
}